@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #FF3147;
    --primary-font-family: "Cormorant SC", serif;
    --secondary-font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--primary-color);
    color: #FFF;
}

section {
    padding: 4rem 7%;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 1rem;
    gap: 2rem;
}

.heading h2 {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.heading h3 {
    color: #000;
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

#heroSection {
    height: min-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#heroSection .leftSection {
    display: flex;
    flex-direction: column;
    /* background: red; */
    width: 45%;
}

#heroSection .leftSection h3 {
    font-size: 3rem;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 600;
}

#heroSection .leftSection h2 {
    font-family: var(--primary-font-family);
    font-size: 6rem;
    font-weight: bold;
    line-height: 5rem;
    margin-block: 2.5rem;
    font: normal normal bold;
}

#heroSection .leftSection p {
    font-size: 1.6rem;
    font-family: var(--secondary-font-family);
    margin-block: 2.5rem;
    font: normal normal normal;
}

#heroSection .leftSection button {
    padding: 1rem 1.5rem;
    width: fit-content;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 5px;
}

#heroSection .leftSection button:hover {
    background-color: #ff3146e4;
}

#heroSection .rightSection {
    width: 45%;
}

#heroSection .rightSection .imgContainer {
    width: 100%;
    height: 100%;
}

#heroSection .rightSection .imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Popup form */
.popup-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popupContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40rem;
    max-width: 600px;
}

.popupContent input {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 1rem .5rem;
    width: 70%;
}

.detailInput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 2rem;
}

.detailInput .fullWidth {
    grid-column: span 2;
    width: 85%;
}

.popupContent h3 {
    font-size: 2rem;
    font-family: var(--secondary-font-family);
    font-weight: bold;
}

.popupContent #checkBox {
    border: 1px solid var(--primary-color);
    width: 10%;
}

.popupContent .checkBoxLabel {
    font-size: 1.4rem;
    margin-block: 1rem;
}

.popupContent .buttonContainer {
    display: flex;
    justify-content: center;
}

.popupContent .submitBtn {
    padding: 1rem 4.5rem;
    margin-block: 1rem;
    background-color: var(--primary-color);
    color: #FFF;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
}

.popupContent .submitBtn:hover {
    background-color: #ff3146e4;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#serviceSection {
    height: 100vh;
    margin-top: 5rem;
}

#serviceSection .serviceHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#serviceSection .leftSection h2 {
    font-size: 2.4rem;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-weight: 600;
    letter-spacing: -1px;
}

#serviceSection .leftSection h3 {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: var(--primary-font-family);
    letter-spacing: -1px;
    margin-block: 2rem;
}

#serviceSection .rightSection {
    width: 60%;
}

#serviceSection .rightSection p {
    font-size: 1.6rem;
}

.swiper {
    width: 100%;
    height: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-wrapper {
    height: 90%;
}

.swiper-slide .overlay {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}

.swiper-slide .overlay img {
    height: 15%;
    width: 25%;
    object-fit: contain;
}

.swiper-slide .overlay h3 {
    font-size: 2.4rem;
}

.swiper-slide .overlay p {
    font-size: 1.6rem;
}

.swiper-slide .overlay .btn {
    background-color: #fff;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 4rem;
}

.swiper-slide .overlay .btn a {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.swiper-slide:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

#featuredSection {
    height: min-content;
    width: 100%;
}

#featuredSection .cardContainer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

#featuredSection .cardContainer .card {
    width: 25rem;
    height: 22rem;
}

#featuredSection .cardContainer .card .img {
    width: 100%;
    height: 40%;
    margin-block: .5rem;
}

#featuredSection .cardContainer .card span {
    font-size: 2rem;
    font-family: var(--secondary-font-family);
    font-weight: 500;
    margin-block: 1rem;
}

#featuredSection .cardContainer .card p {
    font-size: 1.6rem;
    font-family: var(--secondary-font-family);
    font-weight: 300;
    line-height: 1.7rem;
    margin-top: 1rem;
}

#projectSection {
    width: 100%;
    height: min-content;
}

#projectSection .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

#projectSection .img {
    width: 50%;
    height: 70%;
}

#projectSection .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projectSection .projectContainer {
    width: 35%;
}

#projectSection .projectContainer .project {
    padding: 2.5rem 2rem;
    transition: 0.2s ease-in-out;
}

#projectSection .projectContainer .project:hover {
    background-color: var(--primary-color);
}

#projectSection .projectContainer .project:hover h3,
#projectSection .projectContainer .project:hover p {
    color: #FFF;
}

#projectSection .projectContainer .project h3 {
    font-size: 2rem;
    font-family: var(--secondary-font-family);
    font-weight: 500;
}

#projectSection .projectContainer .project p {
    font-size: 1.6rem;
    font-family: var(--secondary-font-family);
    font-weight: 400;
    margin-block: 1rem;
}

#companySection {
    width: 100%;
    height: min-content;
}

#companySection .cardContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#companySection .cardContainer .card {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

#companySection .cardContainer .card img {
    width: 20%;
}

#companySection .cardContainer .card h3 {
    margin-block: .2rem;
    font-size: 5.5rem;
    font-family: var(--secondary-font-family);
    font-weight: 200;
}

#companySection .cardContainer .card span {
    font-size: 1.5rem;
    font-family: var(--secondary-font-family);
    font-weight: 200;
}

#companySection .cardContainer .card:hover {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

#feedbackSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#feedbackSection .container {
    width: 60%;
    margin-bottom: 5rem;
}

#feedbackSection .container p,
h3 {
    font-size: 1.8rem;
    font-family: var(--secondary-font-family);
    font-weight: 400;
}

#feedbackSection .container h3 {
    font-weight: bold;
    color: #a89f9f;
}

#feedbackSection .container h3 span {
    color: var(--primary-color);
}

#footer {
    background-color: var(--primary-color);
    width: 100%;
}

#footer .img {
    width: 100%;
    padding: 5rem 1rem;
}

#footer .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 993px) {
    html {
        font-size: 55%;
    }
    #heroSection {
        flex-direction: column;
    }

    #heroSection .rightSection .imgContainer img {
        height: 100%;
    }

    #heroSection .leftSection {
        display: flex;
        flex-direction: column;
        /* background: red; */
        width: 85%;
    }
    #heroSection .rightSection {
        width: 85%;
    }

    #heroSection .rightSection .imgContainer {
        width: 100%;
        height: 50rem;
    }

    #serviceSection .serviceHead {
        flex-direction: column;
    }

    #serviceSection .serviceHead .leftSection,
    #serviceSection .rightSection  {
        width: 80%;
        text-align: center;
    }
    .swiper {
        margin-top: 1rem;
        height: 70%;
    }

    #projectSection .container {    
        flex-direction: column;
    }
    #projectSection .img,
    #projectSection .projectContainer {
        width: 80%;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 50%;
    }

    section,
    .footer {
        padding: 4rem 4%;
    }
    .swiper-slide {
        min-width: 35rem;
        margin-left: 1rem;
    }
    .popupContent {
        margin: 30% auto;
    }
}

@media (max-width: 480px) {

    section,
    .footer {
        padding: 4rem 1%;
    }
    #serviceSection .leftSection h3 {
        font-size: 3.5rem;
    }
    .heading h3 {
        text-align: center;
    }
    #feedbackSection .container {
        width: 70%;
    }

    #footer .img {
        padding: 1rem 1rem;
    }

    .popupContent {
        margin: 50% auto;
    }
}