@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #FF3147;
    --primary-font-family: "Cormorant SC", serif;
    --secondary-font-family : "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 4rem 7%;
}

#heroSection {
    height: 100vh;
    width: 100vw;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#heroSection .leftSection  {
    display: flex;
    flex-direction: column;
    /* background: red; */
    width: 45%;
}

#heroSection .leftSection h3{
    font-size: 4rem;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 600;
}

#heroSection .leftSection h2 {
    font-family: var(--primary-font-family);
    font-size: 7rem;
    font-weight: bold;
    line-height: 5rem;
    margin-block: 2.5rem;
    font: normal normal bold;
}

#heroSection .leftSection p {
    font-size: 1.5rem;
    font-family: var(--secondary-font-family);
    margin-block: 2.5rem;
    font: normal normal normal;
}

#heroSection .leftSection button {
    padding: 1rem 1.5rem;
    width: fit-content;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    outline: none;
}

#heroSection .rightSection {
    width: 45%;
}

#heroSection .rightSection .imgContainer{
    width: 100%;
    height: 100%;
}

#heroSection .rightSection .imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#serviceSection {
    height: 100vh;
    margin-top: 5rem;
}

#serviceSection .serviceHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#serviceSection .leftSection h2 {
    font-size: 2rem;
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-weight: 600;
    letter-spacing: -1px;
}

#serviceSection .leftSection h3 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--primary-font-family);
    line-height: 2.8rem;
    letter-spacing: -1px;
    margin-block: 2rem;
}

#serviceSection .rightSection {
    width: 60%;
}

#serviceSection .rightSection p {
    font-size: 1.5rem;
}

.swiper {
    width: 100%;
    height: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-wrapper {
    height: 90%;
}

.swiper-slide .overlay {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}

.swiper-slide .overlay img {
    height: 15%;
    width: 25%;
    object-fit: contain;
}

.swiper-slide .overlay .btn {
    background-color: #fff;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 4rem;
}

.swiper-slide .overlay .btn a {
    font-size: 1.2rem;
}

.swiper-slide:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}
